h1{
   background-color: black;
   color:white;
   text-align: center;
   
}

   h2{
    background-color:red;
    border-radius:15px;
}

p{
    background-color:green;
    text-align: center;
    color: white;
    padding:15px;
    border-radius:4px;
    font-weight:bold;
}

div{
    background-color:green;
    height:300px;
    width:300px;
    color: white;
    border:4px;
    text-align: center;
    margin:50px auto;
    border-radius:20px;
    
}

